* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */

body{

}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 45px;
    font-weight: 900;
}

.color-orage{
    color: orange;
}

.btn {
    background-color: orange;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

/* main styles */

header{
    padding-top: 50px;
    background: url(../images/developer.png), url(../images/header_bg.png), antiquewhite;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}
nav{
    width: 83.33%;
    max-width: 1140px;
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 600;
}

#banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 678px;
    margin: 47px 38px 0 230px;
    padding: 80px 0;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: 900;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
}
#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}