* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */

body{
    /* width: 83.33%;
    max-width: 1200px;
    margin: 0 auto; */
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 45px;
    font-weight: 900;
}

.color-orage{
    color: orange;
}

.btn {
    background-color: orange;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

/* main styles */

header{
    padding-top: 50px;
    background-color: antiquewhite;
}
nav{
    width: 83.33%;
    max-width: 1200px;
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: antiquewhite;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 600;
}